@import url(fonts.css);
@import url(root.css);
@import url(common.css);
@import url(root.css);

 .header__top {
   background: #0C0C0C;
   height: 65px;
}
.top__list1 {
   display: flex;

}
.top__list {
   display: flex;
   justify-content: space-between;
   padding-top: 21px;
}
.top__menu-list {
   margin-right: 20px;
   color: var( --secondary-color);
   font-family: var(--secondary-font);
   line-height: 19px;
   transition: 0.5s;
   font-weight: 400;
}
.top__menu-list:hover {
   color: yellowgreen;
   opacity: 0.75;
}
.ads__apan {
   font-family: var(--secondary-font);
font-size: 16px;
font-weight: 400;
line-height: 18.75px;
text-align: left;
color: var( --secondary-color);
}

