
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--primary-font) var(--secondary-font);
}

body {
   background: var(--body);
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}
.container {
   max-width: 1140px;
   width: 100%;
   margin: 0 auto;
   padding: 0 15px;
}
img {
   max-width: 100%;
   vertical-align: bottom;
}
.button {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 285px;
   height: 103px;
   color: var(--secondary-color);
   font-family: var(--primary-font);
   font-weight: 200;
   font-size: 50px;
   line-height: 25px;
   text-decoration: none;
   transition: all ease 0.5s;
   border: 1px solid rgb(0, 255, 34);
   border-radius: 6px;
}
.button:hover {
      background: rgba(105, 207, 23, 0.5);
}
.button-2 {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 255px;
   height: 51px;
   border-radius: 6px;
   text-decoration: none;
   font-size: 18px;
   line-height: 21px;
   color: var(--secondary-color);
   font-family: var(--primary-font);
   transition: all ease 0.5s;
   padding: 20px 0;
   background: linear-gradient(90deg, #69CF17 0%, #417D11 100%);
}